---
import Layout from "@packages/ui/Layout.astro";
import Header from "@packages/ui/Header.astro";
import Responsive from "@packages/ui/Responsive.astro";

const { title, description, metaImage } = Astro.props;

import "../styles.css";
---

<Layout
  title={title}
  description={description}
  metaImage={metaImage}
  name="meloe.fr"
>
  <Header slot="header">
    <Fragment slot="links1">
      <a class="link" href="/">meloe.fr</a>
    </Fragment>
    <Fragment slot="links2">
      <a class="link" href="/fichiers">/fichiers</a>
      <a class="link" href="/a-propos">/a-propos</a>
    </Fragment>
  </Header>

  <Fragment slot="main">
    <Responsive tag="article">
      <slot />
    </Responsive>

    <script
      data-goatcounter="https://meloedotfr.goatcounter.com/count"
      async
      src="/analytics.js"></script>
  </Fragment>
</Layout>
