---
import { contentfulClient } from "../../lib/contentful";
import type { Post } from '../../../../../packages/utils/types/posts';
import Layout from "../../layouts/Layout.astro";
import { formatDate } from '../../../../../packages/utils/date';

const entries = await contentfulClient.getEntries<Post>({
	content_type: "blogPost",
	limit: 10,
	'fields.language': 'en',
	order: '-fields.publicationDate',
	select: 'fields.title,fields.slug,fields.publicationDate,fields.description',
});

const posts = entries.items.map((item) => {
	const { title, publicationDate, description, slug } = item.fields;
	return {
		title,
		slug,
		description,
		date: formatDate(publicationDate),
	};
}).sort((a, b) => b.date.localeCompare(a.date));
---

<Layout title="/ [ehret.me]">
	<article>
		<h1>Hello!</h1>

		<p>My name is Siegfried Ehret. I am a developer.</p>

		<section>
			<h2>Latest notes.</h2>
			<ul>
				{posts.map(item => (
					<li>
						<a href={`/${item.slug}`}>{item.title}</a>
					</li>
				))}
			</ul>
			<a href="/notes">All notes.</a>
		</section>

		<section>
			<h2>Some projects.</h2>
			<p>🚧 This section is it progress. 🚧</p>
			<dl>
				<dt>
					<a href="https://git.sr.ht/~siegfriedehret/tagzytout"> tagzytout </a>
				</dt>
				<dd>A tool to automate tag creation from git commits.</dd>
			</dl>
		</section>
	</article>
</Layout>
