---
const { page = 1, total, baseUrl = "/notes" } = Astro.props;
const arr = [];
for (let i = 1; i <= total; i++) {
  arr.push(i);
}
---

<nav>
    {arr.map((i) => (i === page ? <span>{i}</span> : <a href={`${baseUrl}/${i}`}>{i}</a>))}
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav::before {
      content: "[";
  }
  nav::after {
      content: "]";
  }
  nav a {
    margin-inline: var(--base);
      transition: color .2s;
      will-change: color;
  }
  nav a:is(:active,:focus,:hover) {
    color: var(--prime);
  }
  nav span {
      margin-inline: var(--base);
      color: var(--prime);
    font-weight: bold;
  }
</style>
