---
import Layout from "../layouts/Layout.astro";
import Figure from "@packages/ui/v3/Figure.astro";
---

<Layout
  title="La Vie fabuleuse de Méloé"
  description="Une histoire de Jean-Marie EHRET"
  metaImage="https://meloe.fr/1126435283.png"
>
  <article>
    <h1>La Vie fabuleuse de Méloé</h1>
    <div class="details">
      par <span id="author" class="author">Jean-Marie EHRET</span><br />
    </div>

    <Figure
      url="/1126435283.png"
      title="Une image fictive de l'histoire, générée avec stable-diffusion-xl-beta-v2-2-2"
    />

    <div id="toc" class="toc">
      <div id="toctitle"></div>
      <ul class="sectlevel1">
        <li><a href="#_la_naissance">La naissance</a></li>
        <li><a href="#_premier_contact">Premier contact</a></li>
        <li><a href="#_le_récit_de_dermeste">Le récit de Dermeste</a></li>
        <li><a href="#_labeille">L&#8217;Abeille</a></li>
        <li>
          <a href="#_entre_les_désillusions_manger_devient_ma_devise"
            >Entre les désillusions, manger devient ma devise</a
          >
        </li>
        <li>
          <a href="#_autres_désillusions_jeûner_devient_ma_devise"
            >Autres désillusions, jeûner devient ma devise</a
          >
        </li>
        <li><a href="#_lamour_la_mort">L&#8217;Amour - La Mort</a></li>
        <li>
          <a href="#_en_guise_dépilogue_une_histoire_vraie"
            >En guise d&#8217;épilogue, une histoire vraie&nbsp!</a
          >
        </li>
      </ul>
    </div>

    <div class="sect1">
      <h2 id="_la_naissance">La naissance</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Tout est noir, tout est silence. Je nage dans un liquide nutritif.
            Je suis bien. Ce doit être ça le bonheur&nbsp! Ne rien avoir à
            faire, à penser. Se laisser vivre. Mais cette félicité n&#8217;est
            pas parfaite. Il me manque un petit je ne sais quoi pour être
            totalement heureux. De temps en temps je me retourne, m&#8217;agite.
            Je dois être seul au monde, personne ne répond aux coups que je
            donne à la paroi qui m&#8217;entoure.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Il me semble que je suis enfermé depuis toujours ; je n&#8217;ai
            aucun autre souvenir que celui d&#8217;être reclus. Le temps
            s&#8217;écoule lentement. N&#8217;ayant rien d&#8217;autre à faire
            que le regarder passer. Existe-t-il&nbsp? Cependant je sens que des
            changements s&#8217;opèrent en moi. Je n&#8217;ai ni froid ni faim
            et pourtant… Mon enveloppe doit rétrécir à moins que ce ne soit moi
            qui grandisse, car je me sens de plus en plus à l&#8217;étroit. Je
            suppose que la membrane qui m&#8217;entoure est perméable à
            l&#8217;oxygène, je n&#8217;ai jamais eu de difficultés pour
            respirer. Je ne sais même pas comment je respire, ai-je un système
            trachéal&nbsp? Pourquoi suis-je enfermé&nbsp? Je voudrais
            m&#8217;évader. Laissez-moi sortir…
          </p>
        </div>
        <div class="paragraph">
          <p>
            L&#8217;heure est venue…&nbsp! Ne me demandez pas comment je le
            sais, car je l&#8217;ignore, ce doit être ce que l&#8217;on nomme
            l&#8217;instinct. Je vais enfin sortir, Exister, Vivre libre. Enfin
            je connaîtrai le vrai bonheur, pas celui que l&#8217;on possède
            quand on ne connaît rien d&#8217;autre. Je vais découvrir le monde
            qui entoure ma prison membraneuse.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Le temps de dissoudre cette membrane grâce à une enzyme qui arrive
            juste à point et… Hélas, je ne vois encore pas le soleil. Tout est
            encore noir. N&#8217;ai-je fait que changer de prison&nbsp? Non car
            j&#8217;ai éclos dans la terre, et maintenant je grimpe, me dégage
            petit à petit pour enfin voir le jour.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Ça y est, le temps de me débarrasser de ma cuticule<sup
              class="footnote"
              id="_footnote_cuticule"
              >[<a
                id="_footnoteref_1"
                class="footnote"
                href="#_footnotedef_1"
                title="View footnote.">1</a
              >]</sup
            > embryonnaire, de respirer, d&#8217;aspirer le plus d&#8217;air possible
            et de me sécher, et à moi le Monde.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Ne suis-je pas magnifique, avec ma forme allongée, ma carapace
            jaunâtre du plus bel effet, mon abdomen terminé par quatre longs
            poils, et mes six pattes&nbsp? Quand je vous aurai parlé de mes
            pattes, vous en serez tous jaloux. Elles sont fortes, mes fémurs
            sont costauds, renforcés chacun par un petit article, le trochanter<sup
              class="footnote"
              id="_footnote_trochanter"
              >[<a
                id="_footnoteref_2"
                class="footnote"
                href="#_footnotedef_2"
                title="View footnote.">2</a
              >]</sup
            >, mes tibias solides, et mes tarses<sup
              class="footnote"
              id="_footnote_tarse"
              >[<a
                id="_footnoteref_3"
                class="footnote"
                href="#_footnotedef_3"
                title="View footnote.">3</a
              >]</sup
            >
            avec des griffes en trident, à tel point que chaque patte se prend pour
            Neptune. Tiens, puisque vous êtes curieux, je vais vous détailler mes
            griffes : une large lame médiane pourvue de deux expansions latérales ;
            un plus deux égal trois. Trois griffes par patte, qui peut en dire autant
            ? C&#8217;est pour cette raison que je porte le nom de Triongulin<sup
              class="footnote"
              id="_footnote_triongulin"
              >[<a
                id="_footnoteref_4"
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >. Bien que je ne mesure que sept dixièmes de millimètre je serai
            capable de me défendre envers et contre tout. Pour cela, je possède
            une paire de mandibules acérées, ne vous y frottez pas.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Mais que vois-je&nbsp? Je pensais être le plus beau, le seul, et je
            vois apparaître de partout des triongulins<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            > ; ils sont des dizaines, des centaines… C&#8217;est une éclosion
            massive… Je suis maintenant entouré de près de trois mille individus
            identiques, certains un peu plus petits que moi, d&#8217;autres
            nettement plus grands, près de deux millimètres. Quels géants&nbsp!
          </p>
        </div>
        <div class="paragraph">
          <p>Que vais-je devenir avec toute cette concurrence&nbsp?</p>
        </div>
        <div class="paragraph">
          <p>
            Une pensée m&#8217;effleure, je vais peut-être rencontrer, dans
            cette multitude, la ou le partenaire avec qui je pourrais fonder un
            foyer. L&#8217;amour dès la naissance, ce doit être merveilleux.
            Mais j&#8217;ai beau chercher, nous sommes tous identiques.
            Qu&#8217;êtes-vous, que suis-je&nbsp? Mâle ou femelle&nbsp? Je crois
            bien que je ne sois, que nous ne sommes, ni l&#8217;un, ni
            l&#8217;autre. Nous sommes asexués. À quoi sert la multitude si
            c&#8217;est pour rester seul&nbsp? Dois-je m&#8217;arrêter à cette
            désillusion&nbsp?
          </p>
        </div>
        <div class="paragraph">
          <p>
            Non, puisque c&#8217;est ainsi, je pars, je vais vivre ma vie. Adieu
            la colonie.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je cours dans tous les sens, cherchant une fleur qui me convienne
            pour y monter. Toujours plus haut, telle devient ma devise. En voici
            une immense, elle doit bien mesurer cinquante centimètres. Prenant
            mon courage à deux pattes, la tige avec les autres, je commence la
            vertigineuse ascension. L&#8217;escalade est difficile, la plante
            possède de nombreux poils aussi longs que je suis grand ; je suis
            obligé de monter dessus, passer à côté, faire de grands détours.
            J&#8217;ai bien dû avancer de dix centimètres quand,
            m&#8217;arrêtant quelques secondes pour souffler un peu, je jette un
            regard circulaire et, horreur, tous les triongulins<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            > qui se sont plus ou moins dispersés grimpent tous après des plantes.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je pensais faire preuve d&#8217;originalité, me différencier de la
            masse et je m&#8217;aperçois que j&#8217;obéis aux mêmes lois, aux
            mêmes instincts. S&#8217;agit-il de géotropisme<sup class="footnote"
              >[<a
                id="_footnoteref_5"
                class="footnote"
                href="#_footnotedef_5"
                title="View footnote.">5</a
              >]</sup
            >
            négatif associé à un chimiotropisme<sup class="footnote"
              >[<a
                id="_footnoteref_6"
                class="footnote"
                href="#_footnotedef_6"
                title="View footnote.">6</a
              >]</sup
            >
            positif et combiné à de l&#8217;hygrotropisme<sup class="footnote"
              >[<a
                id="_footnoteref_7"
                class="footnote"
                href="#_footnotedef_7"
                title="View footnote.">7</a
              >]</sup
            >
            ? Aux grands mots les grands remèdes, laissons répondre à cette question
            les spécialistes et reprenons la grimpette, on verra bien là-haut. Tiens,
            une bifurcation, je préfère continuer sur la tige plutôt que prendre
            cette allée qui me paraît bien trop facile. Triongulin<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            fort aime la difficulté&nbsp! Et il y en avait déjà une bonne dizaine
            de triongulins<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            > à courir dans tous les sens sur cette feuille.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Un cri me fait sursauter. Un de mes frères vient de se faire enlever
            par un horrible monstre velu et difforme. Je me cache pour échapper
            à sa vue. Qu&#8217;il est laid, un abdomen distendu, disgracieux,
            huit pattes, deux, trois, cinq, huit yeux tout autour de la tête,
            des chélicères<sup class="footnote" id="_footnote_chelicere"
              >[<a
                id="_footnoteref_8"
                class="footnote"
                href="#_footnotedef_8"
                title="View footnote.">8</a
              >]</sup
            > menaçantes, des poils partout… Mais que fait-il&nbsp? Il injecte de
            la salive à sa proie et attend. Je ne bouge pas non plus, pourvu qu&#8217;il
            ne me voie pas. Plusieurs minutes passent, cette araignée monstrueuse
            replante ses chélicères dans le corps du pauvre insecte et aspire. Que
            c&#8217;est écœurant&nbsp! Digéré avant d&#8217;être avalé, quelle mort
            horrible. Le monstre laisse tomber le cadavre et chasse un autre triongulin.
            Cette éclosion massive, quelle aubaine pour les prédateurs.
          </p>
        </div>
        <div class="paragraph">
          <p>
            La voie me paraît libre, tant pis pour les autres, je fonce en
            espérant qu&#8217;une autre araignée ne me guette pas un peu plus
            haut. Je continue mon escalade en surveillant partout autour et
            arrive enfin à la fleur. Encore un surplomb à passer et tout sera
            terminé. J&#8217;espère qu&#8217;il y aura un casse-croûte en haut
            car je commence vraiment à avoir la fringale. Voilà près d&#8217;une
            demi-heure que je suis né et je n&#8217;ai encore rien dans le tube
            digestif. Ça y est, j&#8217;y suis, je suis le premier arrivé. Ce
            que je prenais pour une fleur est en réalité un champ de fleur.
            Elles sont toutes identiques, jaunes, en tubes sauf celles de
            l&#8217;extérieur qui sont immenses et blanches. Quel monde
            particulier&nbsp! C&#8217;est avec délectation que je me régale
            d&#8217;une goutte de nectar quand mon regard est attiré par un
            animal qui sort d&#8217;entre les fleurs. Pourvu qu&#8217;il ne soit
            pas carnassier, qu&#8217;il ne m&#8217;ait pas vu. Je me tapis pour
            l&#8217;observer. Sa tête, en particulier, est peu ordinaire,
            prolongée en avant ; on pourrait presque le comparer à un éléphant
            si les éléphants avaient la bouche au bout de la trompe. Ce rostre<sup
              class="footnote"
              id="_footnote_rostre"
              >[<a
                id="_footnoteref_9"
                class="footnote"
                href="#_footnotedef_9"
                title="View footnote.">9</a
              >]</sup
            > est aussi grand que moi.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Cet insecte doit bien mesurer près de trois millimètres. Je me sens
            bien petit. Quelle horreur, le voilà qui s&#8217;approche de sa
            démarche débonnaire…
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_premier_contact">Premier contact</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            "N&#8217;aie pas peur, je ne vais pas te manger, je ne consomme que
            des plantes, et pas n&#8217;importe lesquelles, les chrysanthèmes,
            les anthémis et les camomilles vraies ou fausses" me dit-il. Du
            coup, je me sens en confiance et lui demande de m&#8217;expliquer ce
            qu&#8217;il cherche ici, et s&#8217;il peut m&#8217;aider dans ma
            quête d&#8217;autant plus que je ne sais où je vais, ni où je suis.
          </p>
        </div>
        <div class="ulist">
          <ul>
            <li>
              <p>
                Ce que je cherche ici, c&#8217;est simple, je viens pondre dans
                le capitule de cette marguerite. Je suis né près d&#8217;ici,
                dans une camomille. Je m&#8217;y plaisais bien, j&#8217;avais
                rencontré un mâle qui m&#8217;avait fécondée -deux heures
                d&#8217;amour fou en copulation, quelle joie, puis nous sommes
                partis chacun de notre côté, lui vers une autre femelle, moi
                vers un beau capitule où je pourrai pondre mes œufs.
                Malheureusement les Hommes sont venus avec leurs machines et ont
                tout coupé. Il m&#8217;a donc fallu chercher à l&#8217;odeur une
                plante qui serait susceptible d&#8217;accueillir ma progéniture,
                de gré ou de force, et mon vol m&#8217;a amenée ici et je ponds.
              </p>
            </li>
            <li>
              <p>
                Mais comment pouvez-vous savoir que cette plante sera bonne pour
                vos larves&nbsp?
              </p>
            </li>
            <li>
              <p>
                À l&#8217;odeur je sens que cette plante contient tous les
                aliments nécessaires à leur bon développement, et qu&#8217;ils
                vivront bien, qu&#8217;elle n&#8217;est pas toxique comme son
                cousin le pyrèthre<sup class="footnote"
                  >[<a
                    id="_footnoteref_10"
                    class="footnote"
                    href="#_footnotedef_10"
                    title="View footnote.">10</a
                  >]</sup
                >, le pire être devrais-je dire. Tous les charançons<sup
                  class="footnote"
                  id="_footnote_charancon"
                  >[<a
                    id="_footnoteref_11"
                    class="footnote"
                    href="#_footnotedef_11"
                    title="View footnote.">11</a
                  >]</sup
                >
                savent toujours ce qui est bon pour leurs descendants, qu&#8217;ils
                soient spécialisés dans quelques Composées comme moi ou dans d&#8217;autres
                familles végétales. Certains ne sont pas difficiles et sont oligophages<sup
                  class="footnote"
                  >[<a
                    id="_footnoteref_12"
                    class="footnote"
                    href="#_footnotedef_12"
                    title="View footnote.">12</a
                  >]</sup
                >, mais aucun ne mange n&#8217;importe quoi, nous ne sommes pas
                des Hommes&nbsp! D&#8217;autres, les extrémistes,
                n&#8217;acceptent qu&#8217;une seule espèce de plante, moi je me
                situe dans la moyenne. Et toi, petit triongulin, qu&#8217;es-tu
                venu te perdre ici, je ne pense pas que tu aies choisi la bonne
                plante, car je n&#8217;ai jamais entendu dire que les méloés<sup
                  class="footnote"
                  id="_footnote_meloe"
                  >[<a
                    id="_footnoteref_13"
                    class="footnote"
                    href="#_footnotedef_13"
                    title="View footnote.">13</a
                  >]</sup
                > se développaient sur les marguerites.
              </p>
            </li>
            <li>
              <p>
                Mais que vais-je devenir si je ne puis vivre ici&nbsp? Je suis
                trop jeune pour mourir.
              </p>
            </li>
            <li>
              <p>
                Je n&#8217;en connais qu&#8217;un qui pourrait t&#8217;aider,
                c&#8217;est Dermeste<sup
                  class="footnote"
                  id="_footnote_dermeste"
                  >[<a
                    id="_footnoteref_14"
                    class="footnote"
                    href="#_footnotedef_14"
                    title="View footnote.">14</a
                  >]</sup
                >, le seul d&#8217;entre nous qui soit très instruit car il a
                passé sa jeunesse dans une bibliothèque où, paraît-il, il a
                dévoré, dans tous les sens du terme, des livres entiers. Tous
                les jours il fait son tour et essaye d&#8217;inculquer sa
                science aux pauvres insectes que nous sommes ; il radote même,
                faut dire qu&#8217;il doit commencer à être très vieux, il a
                hiberné au moins une fois à l&#8217;état adulte, c&#8217;est
                tout dire.
              </p>
            </li>
            <li>
              <p>
                Puisque tu ponds, que tu as connu l&#8217;amour, peux-tu me dire
                de quel sexe je suis ? En bas, nous étions près de trois mille
                individus semblables et je n&#8217;ai pas su distinguer les
                mâles des femelles. J&#8217;ai pourtant tant envie de connaître
                l&#8217;Amour.
              </p>
            </li>
            <li>
              <p>
                Mais tu es bien trop jeune pour cela. Tu n&#8217;es qu&#8217;une
                jeune larve. Ton sexe est inscrit dans tes chromosomes et
                n&#8217;apparaîtra que lorsque tu seras adulte. Mais auparavant
                tu as une longue vie devant toi. Je ne connais pas les
                conditions de croissance des triongulins. Elles doivent être
                bien différentes des miennes puisque tu vis à l&#8217;air libre
                alors que moi toute ma vie larvaire s&#8217;est déroulée dans le
                capitule d&#8217;une camomille. Parvenue à maturité, la larve
                que j&#8217;étais a subi une mort apparente alors qu&#8217;en
                réalité s&#8217;opéraient à l&#8217;intérieur de la cuticule<sup
                  class="footnoteref"
                  >[<a
                    class="footnote"
                    href="#_footnotedef_1"
                    title="View footnote.">1</a
                  >]</sup
                >
                de grands changements, disparition de mes caractères larvaires et
                apparition de ceux d&#8217;adulte, dont les fameux caractères sexuels
                qui te font défaut. Puis, après une renaissance, je suis enfin devenue
                adulte, et me voici. Bon, c&#8217;est pas tout de causer, mais il
                faut que je pense à ma progéniture. Adieu petit Triongulin, et bonne
                chance. Mais voilà Dermeste<sup class="footnoteref"
                  >[<a
                    class="footnote"
                    href="#_footnotedef_14"
                    title="View footnote.">14</a
                  >]</sup
                >
                qui arrive. Il pourra assurément répondre à tes questions mieux que
                moi, du moins à certaines. Eh&nbsp! Dermeste<sup
                  class="footnoteref"
                  >[<a
                    class="footnote"
                    href="#_footnotedef_14"
                    title="View footnote.">14</a
                  >]</sup
                >, viens expliquer ce qu&#8217;est la Vie à cette jeune larve
                qui a l&#8217;air bien perdue dans cette vallée de larmes.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_le_récit_de_dermeste">Le récit de Dermeste</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Que fais-tu ici petit Triongulin<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            ? Tu m&#8217;excuseras de ne pas me poser car tes copains m&#8217;ont
            déjà envahi, regarde, j&#8217;en ai trois accrochés à mes poils. Je vais
            aller les poser plus loin, près d&#8217;un essaim, car les triongulins<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            vivent aux dépens d&#8217;abeilles
            <sup class="footnote"
              >[<a
                id="_footnoteref_15"
                class="footnote"
                href="#_footnotedef_15"
                title="View footnote.">15</a
              >]</sup
            > mais puisque tu as l&#8217;air disposé à m&#8217;écouter, je vais te
            conter en quelques mots mes aventures.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je suis né il y a bien longtemps, voici quatorze mois. Ma mère avait
            pondu ses œufs dans la couverture d&#8217;un livre stocké dans une
            vieille bibliothèque. À l&#8217;époque, j&#8217;étais assez élancé,
            très poilu, et comme tous les Coléoptères<sup
              class="footnote"
              id="_footnote_coleoptere"
              >[<a
                id="_footnoteref_16"
                class="footnote"
                href="#_footnotedef_16"
                title="View footnote.">16</a
              >]</sup
            >, mon état larvaire différait totalement de ma forme adulte. Tu
            verras, toi aussi tu changeras de forme, et peut-être plus que moi.
            Mais je m&#8217;éloigne du sujet. Je suis bien content d&#8217;avoir
            trouvé une oreille attentive à mes récits, car les autres insectes
            de la prairie disent que je radote. Il est vrai qu&#8217;ils ont
            plusieurs fois entendu mes mémoires, mais n&#8217;ayant pas, à
            l&#8217;instar des hommes, de système d&#8217;écriture qui
            constituerait notre mémoire collective, je ne vois aucun autre moyen
            que la communication orale de faire profiter les autres de mon
            expérience. Bon, le livre auquel je m&#8217;attaquais avait été
            écrit il y a au moins une centaine de générations de dermestes<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_14"
                title="View footnote.">14</a
              >]</sup
            >, c&#8217;est dire s&#8217;il était ancien. À cette époque, les
            hommes utilisaient du vrai papier, non glacé, bien comestible pour
            mon appétit de jeune larvouille que j&#8217;étais. Cependant,
            j&#8217;étais curieux et m&#8217;instruisais tout en me nourrissant,
            je dévorais mon livre dans tous les sens du terme. Il
            s&#8217;agissait d&#8217;un livre de botanique. Je n&#8217;ai hélas
            pas eu le temps de tout lire. Tu n&#8217;imagines pas ce que
            représente un ouvrage de plus de cinq cents pages. Je me suis donc
            attaqué à une partie qui n&#8217;avait pas encore été trop entamée
            par des confrères, et c&#8217;est ainsi que je suis devenu
            incollable sur les Roses.
          </p>
        </div>
        <div class="ulist">
          <ul>
            <li>
              <p>C&#8217;est donc sur une rose que je devrais vivre&nbsp?</p>
            </li>
            <li>
              <p>
                Non, tu n&#8217;as rien compris, tu n&#8217;es pas végétarien,
                mais comme je ne connais que les roses, c&#8217;est de celles-ci
                que je t&#8217;entretiens. C&#8217;est une fleur extraordinaire.
                Les Hommes en sont amoureux fous depuis une éternité, mais pas
                pour s&#8217;en nourrir. Le sens des valeurs n&#8217;est pas le
                même pour tous&nbsp! Personnellement, je préférerais les roses
                en herbier, c&#8217;est un régal d&#8217;après un de mes parents
                qui vit dans un musée, quant à mon amie la Cétoine dorée<sup
                  class="footnote"
                  id="_footnote_cetoine"
                  >[<a
                    id="_footnoteref_17"
                    class="footnote"
                    href="#_footnotedef_17"
                    title="View footnote.">17</a
                  >]</sup
                >, elle les aime fraîches, et de préférence en bouton. Autre
                espèce, autres mœurs, les humains s&#8217;intéressent à leur
                beauté, à leur odeur et accessoirement à leurs qualités
                nutritives et encore&nbsp! Seulement pour leurs propriétés
                médicinales ou cosmétiques. Sais-tu que les Égyptiens
                cultivaient des roses pour les vendre aux romains qui les
                adoraient&nbsp? Et ceci il y a au moins deux mille générations
                <sup class="footnote"
                  >[<a
                    id="_footnoteref_18"
                    class="footnote"
                    href="#_footnotedef_18"
                    title="View footnote.">18</a
                  >]</sup
                >. Jusqu&#8217;à ce que ces derniers les cultivent eux-mêmes.
                Cette fascination pour la Rose se retrouve dans de nombreux
                peuples, ils en ont même fait la symbolique de l&#8217;Amour.
                Et… Excuse-moi, mais il faut absolument que je m&#8217;en aille
                et dépose tes congénères. Ce n&#8217;est pas que mon histoire
                soit terminée, mais je sens qu&#8217;à quelques centaines de
                mètres d&#8217;ici une femelle de Dermeste appelle un mâle.
                Sens-tu ce doux parfum&nbsp? Vite, il faut que j&#8217;y sois
                avant qu&#8217;un concurrent ne prenne ma place. Je te
                raconterais la suite de l&#8217;aventure des roses plus tard, du
                moins si on se revoit. Adieu.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_labeille">L&#8217;Abeille</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Me voici à nouveau seul. Ai-je eu raison de monter sur cette
            plante&nbsp? Depuis que je suis né, je vais de peurs en joies, de
            déprimes en espérances. La vie ne pourrait-elle pas être simple,
            régulière au lieu d&#8217;apporter des plaisirs et des peines. Je
            regrette le temps qui me paraît déjà si lointain où je n&#8217;avais
            rien d&#8217;autre à faire que me laisser vivre dans ma coquille,
            rien à penser ni à redouter. La vie fœtale est indéniablement la
            meilleure. Mais quel est ce bourdonnement qui approche&nbsp? Un
            animal insolite, poilu de partout, se pose sur le capitule et
            commence, avec une langue immense, à aspirer le nectar. Je ne sais
            quel instinct me pousse, je grimpe sur cet insecte qui
            m&#8217;intrigue plus qu&#8217;il ne me fait peur. Heureusement que
            je possède trois griffes par patte, elles me permettent de
            m&#8217;accrocher solidement à ses longs poils. Le voilà qui
            décolle. Où vais-je aller maintenant&nbsp? Dans quelle aventure
            suis-je encore embarqué&nbsp? Je n&#8217;ai pas l&#8217;impression
            qu&#8217;il m&#8217;ait vu ou senti. Précautionneusement, je déplace
            une patte après l&#8217;autre pour acquérir une position plus
            stable. Ce vol est agréable. J&#8217;ai la sensation innée que mes
            épreuves arrivent à leur fin.
          </p>
        </div>
        <div class="paragraph">
          <p>
            La chance m&#8217;a enfin souri, je suis sur une abeille, j&#8217;ai
            l&#8217;intuition que c&#8217;est grâce à elle que je vais pouvoir
            me développer jusqu&#8217;à maturité et enfin avoir la capacité de
            procréer.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Nous arrivons à son nid. L&#8217;abeille pénètre dans son édifice
            qui me fait penser à du carton pâte. S&#8217;approchant d&#8217;une
            alvéole, elle régurgite une goutte de nectar transformé en miel par
            ses sucs digestifs. J&#8217;en profite pour descendre de son dos et
            me glisser dans cette cellule garnie. Horreur, la voilà qui se
            retourne et point l&#8217;apex de son abdomen vers moi.
            M&#8217;aurait-elle vu&nbsp? Va-t-elle me piquer&nbsp? Un objet
            blanc apparaît Elle le dépose précautionneusement. C&#8217;est un
            œuf, je sens que je vais me régaler. L&#8217;état de parasite a du
            bon&nbsp!
          </p>
        </div>
        <div class="paragraph">
          <p>
            J&#8217;absorbe cette nourriture divine, me repose de toutes les
            émotions qui se sont succédées depuis ma naissance. La vie vaut
            enfin la peine d&#8217;être vécue.
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_entre_les_désillusions_manger_devient_ma_devise">
        Entre les désillusions, manger devient ma devise
      </h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Le temps passe lentement et je digère béatement en pensant à ma
            chance. J&#8217;aurais pu être dévoré par une araignée, ne pas
            rencontrer d&#8217;abeille ou que sais-je&nbsp? Une légère torpeur
            m&#8217;envahit. Je sens que mon organisme commence a subir des
            modifications. Vais-je rentrer en nymphose<sup
              class="footnote"
              id="_footnote_nymphose"
              >[<a
                id="_footnoteref_19"
                class="footnote"
                href="#_footnotedef_19"
                title="View footnote.">19</a
              >]</sup
            >
            ? Une nouvelle cuticule<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_1"
                title="View footnote.">1</a
              >]</sup
            >
            se forme. Je ne puis qu&#8217;à peine bouger. Ma peau de triongulin<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            > s&#8217;amincit, les couches internes sont digérées par un système
            enzymatique. Ce phénomène n&#8217;est pas douloureux. Tout ceci se passe
            lentement.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Toujours immobile, je ne vois plus rien à travers mon ancienne peau.
            Je sens de temps en temps que l&#8217;abeille continue
            d&#8217;approvisionner son couvain. De l&#8217;air pénètre entre ma
            nouvelle cuticule<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_1"
                title="View footnote.">1</a
              >]</sup
            >
            et ma vieille chitine<sup class="footnote"
              >[<a
                id="_footnoteref_20"
                class="footnote"
                href="#_footnotedef_20"
                title="View footnote.">20</a
              >]</sup
            >. Hourra, je vais quitter l&#8217;état de triongulin, devenir
            adulte. À l&#8217;aide de contorsions multiples et ordonnées, je
            quitte ma peau juvénile. Au moins deux heures d&#8217;effort me sont
            nécessaires pour y arriver. Maintenant, je me repose, le temps de
            faire sécher mes téguments<sup
              class="footnote"
              id="_footnote_tegument"
              >[<a
                id="_footnoteref_21"
                class="footnote"
                href="#_footnotedef_21"
                title="View footnote.">21</a
              >]</sup
            >. Derrière moi gît l&#8217;exuvie<sup class="footnote"
              >[<a
                id="_footnoteref_22"
                class="footnote"
                href="#_footnotedef_22"
                title="View footnote.">22</a
              >]</sup
            >
            du triongulin<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            que j&#8217;étais. Grignotons un peu de ce délicieux miel et voyons de
            quels organes la nature m&#8217;a doté. Mais que s&#8217;est-il passé&nbsp?
            Serais-je toujours un triongulin<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            ? J&#8217;ai grandi, c&#8217;est sûr, je dois bien mesurer près de trois
            millimètres, je suis devenu jaune, mes pattes me semblent plus faibles,
            mes téguments<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_21"
                title="View footnote.">21</a
              >]</sup
            >
            plus mous, mes soies caudales<sup class="footnote"
              >[<a
                id="_footnoteref_23"
                class="footnote"
                href="#_footnotedef_23"
                title="View footnote.">23</a
              >]</sup
            > ont disparu. De plus, j&#8217;ai faim, très faim, je vais dévorer le
            plus d&#8217;œufs et de miel possible. Ce dernier est fameux, ni trop
            liquide, heureusement, sinon je me serais noyé, ni trop sec pour que
            je puisse l&#8217;absorber ; une délectation&nbsp! Voilà quatre jours
            que j&#8217;ai mué et je sens que le processus recommence, mais avec
            des transformations plus importantes. Cette fois sera assurément la bonne.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Ouf&nbsp! C&#8217;est terminé, mais je suis de plus en plus triste,
            serai-je toujours une larve&nbsp? Mes pattes sont molles,
            décolorées, elles ne peuvent me servir à la déambulation. Comment
            vais-je trouver l&#8217;âme sœur si les déplacements me sont
            impossibles&nbsp? Concentrons-nous pour découvrir plus profondément
            ce corps qui à première vue ne me satisfait pas du tout. Une petite
            tête, un thorax orné de poils épineux, un abdomen assez volumineux
            et c&#8217;est tout. Il ne me reste que mes mandibules acérées. Je
            suis à nouveau à l&#8217;état larvaire. Pourtant mes amis le
            charançon<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_11"
                title="View footnote.">11</a
              >]</sup
            >
            et le dermeste<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_14"
                title="View footnote.">14</a
              >]</sup
            > sont bien parvenus à l&#8217;âge adulte ; serais-je différent d&#8217;eux&nbsp?
            Combien de temps vivrai-je sans pourvoir me déplacer&nbsp? Puisque la
            seule partie mobile de mon corps est ma bouche, activons-la et mangeons.
            Comme ma cellule est vide je m&#8217;en extrais assez facilement grâce
            aux poils dorsaux qui fonctionnent comme des plaques ambulatoires&nbsp!
            Voyons ce qui me tente dans les autres cellules.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je n&#8217;avais pas encore goûté de larves et de nymphes
            d&#8217;abeilles, maintenant c&#8217;est fait, c&#8217;est
            d&#8217;une qualité énergétique incomparable. J&#8217;améliore mon
            menu avec du miel et du pollen. De temps en temps, me sentant par
            trop à l&#8217;étroit dans ma carapace, je cessais provisoirement de
            me nourrir, muais, et me réalimentais de plus belle. Chaque mue
            était moins complexe que la métamorphose qui eut lieu lors de mon
            passage de l&#8217;état de triongulin<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            à celui de larve apode<sup class="footnote" id="_footnote_apode"
              >[<a
                id="_footnoteref_24"
                class="footnote"
                href="#_footnotedef_24"
                title="View footnote.">24</a
              >]</sup
            >, puisqu&#8217;il n&#8217;y avait plus de modification
            d&#8217;organes, il me suffisait de fabriquer une peau plus grande
            et sortir de l&#8217;ancienne. Ne pas avoir à penser, passer sa vie
            à déjeuner, je suis sûr que cela vous plairait. Grossir de près de
            cinquante fois sa taille de naissance en quatre mois, n&#8217;est-ce
            pas un exploit
            <sup class="footnote"
              >[<a
                id="_footnoteref_25"
                class="footnote"
                href="#_footnotedef_25"
                title="View footnote.">25</a
              >]</sup
            >
            ? Tels que je vous imagine, vous les humains, il y a longtemps que vous
            vous seriez mis au régime&nbsp! Si je reprends mon récit, c&#8217;est
            que je sens qu&#8217;un changement va prochainement arriver. D&#8217;abord,
            je perds l&#8217;appétit, ensuite, j&#8217;ai l&#8217;impression qu&#8217;une
            métamorphose se prépare. L&#8217;espoir que j&#8217;avais perdu de devenir
            enfin un véritable méloé<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_13"
                title="View footnote.">13</a
              >]</sup
            > revient. Vais-je enfin connaître ma forme adulte, et découvrir&nbsp?
            J&#8217;ai tellement eu de déceptions dans ma vie qui me paraît bien
            remplie. Bon, c&#8217;est décidé, je cesse de me sustenter. Je veux me
            nymphoser. Je veux devenir adulte. Je veux aimer. Pour être sûr que cela
            se produise, je sors du nid d&#8217;abeille, tombe sur le sol dans lequel
            je m&#8217;enfouis au plus vite afin d&#8217;échapper aux regards des
            prédateurs et à la lumière trop vive.
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_autres_désillusions_jeûner_devient_ma_devise">
        Autres désillusions, jeûner devient ma devise
      </h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Le processus de nymphose s&#8217;est déclenché. Mes hormones
            fonctionnent bien. Ce que j&#8217;avais ressenti à la fin de ma vie
            de triongulin<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            >
            se renouvelle. Cette fois-ci est la bonne, je le sens. Il me faut maintenant
            m&#8217;extraire de ce derme de larve presque apode<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_24"
                title="View footnote.">24</a
              >]</sup
            >…
          </p>
        </div>
        <div class="paragraph">
          <p>
            Voilà plusieurs jours que je suis immobile, sans aucune nourriture.
            Même mes mandibules ne fonctionnent pas. Les seuls mouvements qui me
            sont autorisés sont de faibles contorsions de l&#8217;abdomen. Je me
            transforme en nymphe. Dans quelque temps, un être parfait naîtra, et
            ce sera moi. Maintenant que le dénouement est proche, je peux vous
            avouer que je ne me suis jamais senti tranquille dans le couvain,
            j&#8217;ai toujours eu peur que l&#8217;abeille s&#8217;aperçoive de
            ma présence et me supprime d&#8217;un coup de dard. Dans mon
            enveloppe nymphale, je sens qu&#8217;une métamorphose
            s&#8217;effectue. Que de changements cela implique de quitter
            l&#8217;état larvaire pour acquérir celui d&#8217;imago<sup
              class="footnote"
              id="_footnote_imago"
              >[<a
                id="_footnoteref_26"
                class="footnote"
                href="#_footnotedef_26"
                title="View footnote.">26</a
              >]</sup
            >&nbsp!
          </p>
        </div>
        <div class="paragraph">
          <p>
            Ouf&nbsp! Le processus d&#8217;histogenese<sup class="footnote"
              >[<a
                id="_footnoteref_27"
                class="footnote"
                href="#_footnotedef_27"
                title="View footnote.">27</a
              >]</sup
            > s&#8217;achève. Je n&#8217;ai plus qu&#8217;à quitter ma peau nymphale
            et abandonner cette dépouille qui ne me servira plus à rien.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Pendant que je me repose, je m&#8217;examine et me désespère. Je
            croyais être une nymphe et ne suis qu&#8217;une larve, une fois de
            plus. Mes pattes sont atrophiées, je n&#8217;ai plus rien de bien,
            même mes belles mandibules ont disparu et sont remplacées par des
            tubercules non fonctionnels. Seule ma couleur s&#8217;améliore, je
            suis maintenant rose saumoné, mais à quoi cela sert-il enterré et
            seul comme je le suis&nbsp? Pas d&#8217;ailes, pas d&#8217;organes
            génitaux. Que vais-je devenir, quand ce calvaire mental
            finira-t-il&nbsp?
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je reste dans cet état longtemps, très longtemps. Immobile, je vis
            sur les réserves que je me suis constituées dans le couvain. Dehors,
            ce doit être l&#8217;été à en juger la température de l&#8217;humus
            qui m&#8217;entoure.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Une nouvelle métamorphose se prépare, mais cette fois je ne crois
            plus à rien, je laisse faire sans rien penser, comme de toute façon
            à chaque séance mon état a empiré.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Toujours immobile, je n&#8217;ai toujours aucun appendice. Ce coup
            là, je suis resté à l&#8217;intérieur de la dépouille larvaire. À
            quoi bon exhiber un corps qui me déplaît et qui ressemble au
            précédent&nbsp? À quoi bon ces changements inutiles&nbsp? Toujours
            immobile, j&#8217;attends. J&#8217;écoute le temps passer. Les jours
            se succèdent et se ressemblent. J&#8217;ai comme l&#8217;impression
            de revivre ma vie fœtale.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Une semaine et demie s&#8217;est encore écoulée et voici que le
            processus recommence. Ras le bol&nbsp! Moi qui étais fait pour vivre
            la grande vie, pour aimer, j&#8217;en suis à ma sixième
            métamorphose, sans compter les mues de croissance, et à chaque fois
            l&#8217;amour m&#8217;est impossible, je ne suis pas sexué, et je
            végète de plus en plus.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Cependant, présentement, la dialyse est plus importante. Vais-je
            voir encore mes organes diminuer&nbsp? Qu&#8217;y a-t-il de pire que
            la solitude et l&#8217;immobilité&nbsp? Ce passage d&#8217;une forme
            à l&#8217;autre est un peu plus long que de coutume.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Et c&#8217;est à l&#8217;état nymphal que je m&#8217;extirpe des
            deux vieilles peaux qui me font horreur. J&#8217;arrive enfin au
            bout du tunnel. Entièrement blanc, j&#8217;ai sur la tête des
            ébauches d&#8217;antennes, sur le thorax de pattes et d&#8217;ailes.
            Quant à mon anatomie interne, j&#8217;ose à peine vous en parler,
            mes ovaires se développent lentement. Si tout se passe bien, je vais
            connaître l&#8217;Amour, enfin.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je suis encore immobile, voilà une semaine que je suis nymphe. Ma
            couleur a foncé, j&#8217;ai obtenu un magnifique marron. Mon moral
            est en flèche. La vie vaut la peine d&#8217;être vécue.
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_lamour_la_mort">L&#8217;Amour - La Mort</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Quatre semaines se sont écoulées depuis le début de ma nymphose<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_19"
                title="View footnote.">19</a
              >]</sup
            >. Je viens d&#8217;éclore, envoie de l&#8217;hémolymphe<sup
              class="footnote"
              id="_footnote_hemolymphe"
              >[<a
                id="_footnoteref_28"
                class="footnote"
                href="#_footnotedef_28"
                title="View footnote.">28</a
              >]</sup
            >
            et de l&#8217;air dans les canaux alaires pour bien développer mes élytres<sup
              class="footnote"
              id="_footnote_elytre"
              >[<a
                id="_footnoteref_29"
                class="footnote"
                href="#_footnotedef_29"
                title="View footnote.">29</a
              >]</sup
            >, et je me prélasse au soleil afin de faire sécher l&#8217;imago<sup
              class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_26"
                title="View footnote.">26</a
              >]</sup
            > que je suis devenu.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Voyons quelle est ma morphologie. Il faut souffrir pour être beau,
            dit le dicton, alors vu ce que j&#8217;ai souffert, je suis
            indéniablement magnifique. Taille, trois centimètres et demi, bleu
            foncé, une tête assez forte mais non disgracieuse, assortie de deux
            longues antennes qui me renseignent sur ce qui m&#8217;entoure, un
            thorax arrondi, six pattes élégantes et élancées, mes élytres assez
            courts et déhicents<sup class="footnote"
              >[<a
                id="_footnoteref_30"
                class="footnote"
                href="#_footnotedef_30"
                title="View footnote.">30</a
              >]</sup
            > laissent largement dépasser un abdomen distendu car bourré d&#8217;œufs.
            J&#8217;avais peut-être oublié de vous signaler que je suis une femelle.
            Encore vierge, certes, mais qui n&#8217;entend pas le rester. Ce qui
            me manque un peu, ce sont des ailes membraneuses pour m&#8217;envoler.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Après bien des souffrances, des moments d&#8217;espoir et de
            désespoir, j&#8217;ai enfin éclos. Je suis la plus belle, je suis
            Méloé<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_13"
                title="View footnote.">13</a
              >]</sup
            >, je suis adulte, je suis Dieu, mieux que ça, je suis
            reproductible&nbsp!
          </p>
        </div>
        <div class="paragraph">
          <p>
            Grignotons quelques herbes avant de me lancer à la conquête du
            monde. Je vais, je viens, folâtre tout en envoyant dans l&#8217;air
            quelques molécules de phéromones qui attireront le mâle comme un
            aimant. Mais quel est ce monstre qui vient de m&#8217;attraper dans
            son large bec. Vite, je laisse sourdre quelques gouttes de sang par
            les articulations des pattes et la bouche. La toxicité due à la
            teneur élevée en cantharidine<sup class="footnote"
              >[<a
                id="_footnoteref_31"
                class="footnote"
                href="#_footnotedef_31"
                title="View footnote.">31</a
              >]</sup
            >
            lui fait bien vite recracher sa proie
            <sup class="footnote"
              >[<a
                id="_footnoteref_32"
                class="footnote"
                href="#_footnotedef_32"
                title="View footnote.">32</a
              >]</sup
            >. Quelle aventure&nbsp! L&#8217;autohémorrhée<sup class="footnote"
              >[<a
                id="_footnoteref_33"
                class="footnote"
                href="#_footnotedef_33"
                title="View footnote.">33</a
              >]</sup
            > est vraiment une formidable invention.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Que vois-je apparaître&nbsp? Un Méloé<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_13"
                title="View footnote.">13</a
              >]</sup
            >, un mâle. Hourra&nbsp! Il est moitié plus petit que moi mais
            m&#8217;en contenterai. Viens vite, vite…
          </p>
        </div>
        <div class="paragraph">
          <p>
            Pas bavard, mais pas désagréable. Au lieu de sauter sur la minette
            sans préliminaires, il me caresse, m&#8217;enserre avec ses pattes
            antérieures, et de ses antennes me fait des choses bien agréables
            sur le ventre. Le plaisir augmente tant que je relève
            l&#8217;abdomen. Comme s&#8217;il n&#8217;attendait que ce moment,
            il se recourbe, me pénètre, me lâche et me tourne le dos.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Il parle toujours peu, je lui raconte ma vie qui n&#8217;a pas
            l&#8217;air de le passionner. Que les mâles sont égoïstes&nbsp!
            Quand je lui conte mes malheurs, il me fait croire que les siens
            furent au moins aussi grands. Ce cannibale aurait même dévoré des
            triongulins<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_4"
                title="View footnote.">4</a
              >]</sup
            > ayant pénétré dans le même couvain que lui, le meilleur moyen d&#8217;éviter
            la concurrence n&#8217;est-il pas d&#8217;éliminer les rivaux&nbsp? Même
            s&#8217;il se vante un peu, ce qui n&#8217;est pas sûr, il me plaît toujours
            ce sacré bonhomme. Quelle joie de le sentir me féconder&nbsp! Nous allons
            avoir les plus beaux bébés du monde.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Voilà plus de deux heures que nous sommes accouplés. D&#8217;après
            la théorie de la Relativité Générale, plus l&#8217;on
            s&#8217;éloigne d&#8217;une masse, plus le temps ralentit. Comment
            cela se passe-t-il en étant à la fois sur terre et au septième
            ciel&nbsp?
          </p>
        </div>
        <div class="paragraph">
          <p>
            Mon amant se détache. Serait-il fatigué&nbsp? Même pas, il me dit
            partir à l&#8217;aventure, qu&#8217;il y a certainement
            d&#8217;autres vierges qui ont besoin de ses services. Adieu donc,
            moi je ne t&#8217;oublierai pas.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Je recherche maintenant un sol suffisamment meuble pour y enfoncer
            mon abdomen et pondre quelques centaines d&#8217;œufs, puis je
            recommence un peu plus loin, puis encore. J&#8217;en ai environ
            quatre mille à déposer et ne tiens pas, pour raisons de sécurité, à
            les laisser tous ensemble. Au printemps prochain, mes enfants
            perpétueront mon sang et s&#8217;apercevront, à leur tour, que le
            seul but de la vie est de s&#8217;accoupler pour sauvegarder
            l&#8217;espèce.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Désormais, j&#8217;erre sans but, mangeant des plantes chaque fois
            que la faim se fait sentir. Je suis sereine lorsque la mort arrive.
          </p>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="_en_guise_dépilogue_une_histoire_vraie">
        En guise d&#8217;épilogue, une histoire vraie&nbsp!
      </h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>
            Les méloés<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_13"
                title="View footnote.">13</a
              >]</sup
            >
            constituent une famille de Coléoptères<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_16"
                title="View footnote.">16</a
              >]</sup
            >
            caractérisée par des métamorphoses complexes (hypermétamorphoses). Le
            polymorphisme larvaire est dû au cycle parasitaire de l&#8217;insecte.
            Le déroulement du développement s&#8217;effectue en neuf stades différents
            <sup class="footnote"
              >[<a
                id="_footnoteref_34"
                class="footnote"
                href="#_footnotedef_34"
                title="View footnote.">34</a
              >]</sup
            >:
          </p>
        </div>
        <div class="ulist">
          <ul>
            <li>
              <p>l&#8217;œuf</p>
            </li>
            <li>
              <p>la larve primaire ou triongulin, migrante</p>
            </li>
            <li>
              <p>
                la larve secondaire de type I, de forme proche de la précédente,
                qui se nourrit d&#8217;œuf (oophage) et de miel (mellifère),
                sédentaire
              </p>
            </li>
            <li>
              <p>
                la larve secondaire de type II, mellifère et carnassière,
                sédentaire
              </p>
            </li>
            <li>
              <p>
                la larve secondaire de type III, mellifère et carnassière,
                migrante
              </p>
            </li>
            <li>
              <p>
                la larve contractée, inactive, souterraine et ne
                s&#8217;alimentant pas
              </p>
            </li>
            <li>
              <p>
                la larve prénymphale, inactive, souterraine et ne
                s&#8217;alimentant pas
              </p>
            </li>
            <li>
              <p>
                la nymphe, inactive, souterraine et ne s&#8217;alimentant pas
              </p>
            </li>
            <li>
              <p>l&#8217;adulte qui se nourrit de plantes (phytophage).</p>
            </li>
          </ul>
        </div>
        <div class="paragraph">
          <p>
            Les œufs, larves contractées ou les adultes peuvent subir des états
            de dormance hivernale.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Sur les milliers d&#8217;œuf pondus par la femelle, seuls quelques
            exemplaires arrivent à l&#8217;état adulte.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Il existe près de 1500 espèces de méloés<sup class="footnoteref"
              >[<a
                class="footnote"
                href="#_footnotedef_13"
                title="View footnote.">13</a
              >]</sup
            > dans le monde.
          </p>
        </div>
      </div>
    </div>

    <hr />
    <div class="footnote" id="_footnotedef_1">
      <a href="#_footnoteref_1">1</a>. couche externe qui recouvre et protège
      les organes aériens des végétaux et les organes de certains animaux (du
      latin cuticula «petite peau»).
    </div>
    <div class="footnote" id="_footnotedef_2">
      <a href="#_footnoteref_2">2</a>. deuxième article de la patte des
      arthropodes et se trouve entre la hanche (ou coxa) et le fémur (prononcé:
      «tro-kan-tèr»).
    </div>
    <div class="footnote" id="_footnotedef_3">
      <a href="#_footnoteref_3">3</a>. appendice situé à l&#8217;extrémité du
      tibia, articulé et mobile.
    </div>
    <div class="footnote" id="_footnotedef_4">
      <a href="#_footnoteref_4">4</a>. premier stade larvaire de certains
      insectes, par exemple chez les coccinelles.
    </div>
    <div class="footnote" id="_footnotedef_5">
      <a href="#_footnoteref_5">5</a>. façon dont les plantes se développent en
      relation avec la gravité.
    </div>
    <div class="footnote" id="_footnotedef_6">
      <a href="#_footnoteref_6">6</a>. déplacement d&#8217;un organe ou
      d&#8217;une cellule, orienté par un gradient de concentration chimique.
    </div>
    <div class="footnote" id="_footnotedef_7">
      <a href="#_footnoteref_7">7</a>. déplacement orienté, déterminé chez les
      êtres vivants par l&#8217;humidité de l&#8217;air
    </div>
    <div class="footnote" id="_footnotedef_8">
      <a href="#_footnoteref_8">8</a>. appendice caractéristique des
      chélicérates, super-classe comprenant entre autres les arachnides
      (araignées, scorpions, acariens). Il se trouve proche de la bouche.
    </div>
    <div class="footnote" id="_footnotedef_9">
      <a href="#_footnoteref_9">9</a>. prolongement rigide de la tête chez les
      charançons, certains crustacés, certains poissons
    </div>
    <div class="footnote" id="_footnotedef_10">
      <a href="#_footnoteref_10">10</a>. nom ambigu qui désigne plusieurs
      espèces de plantes, comme les camomilles
    </div>
    <div class="footnote" id="_footnotedef_11">
      <a href="#_footnoteref_11">11</a>. nom commun donné à plusieurs espèces
      d&#8217;insectes
    </div>
    <div class="footnote" id="_footnotedef_12">
      <a href="#_footnoteref_12">12</a>. qui se nourrit d&#8217;un nombre limité
      d&#8217;aliments spécifiques
    </div>
    <div class="footnote" id="_footnotedef_13">
      <a href="#_footnoteref_13">13</a>. genre de coléoptères de la famille des
      Meloidae.
    </div>
    <div class="footnote" id="_footnotedef_14">
      <a href="#_footnoteref_14">14</a>. insecte coléoptère de la famille des
      dermestidés du genre Dermestes.
    </div>
    <div class="footnote" id="_footnotedef_15">
      <a href="#_footnoteref_15">15</a>. En réalité, jamais un insecte ne
      transportera une autre espèce pour lui permettre de survivre. La phorésie
      s&#8217;effectue aux dépens du porteur. Un Triongulin qui grimpe sur une
      plante où ne passera pas rapidement une abeille des genres
      <em>Anthropophora</em>
      ou <em>Andrena</em> est condamné à périr.
    </div>
    <div class="footnote" id="_footnotedef_16">
      <a href="#_footnoteref_16">16</a>. insectes dotés d&#8217;elytres
      protégeant les ailes. Il s&#8217;agit de l&#8217;ordre d&#8217;insectes
      comportant le plus grand nombre d&#8217;espèces.
    </div>
    <div class="footnote" id="_footnotedef_17">
      <a href="#_footnoteref_17">17</a>. connue sous le nom de «Hanneton des
      roses», c&#8217;est un insecte coléoptère de la famille des Cetoniidae.
    </div>
    <div class="footnote" id="_footnotedef_18">
      <a href="#_footnoteref_18">18</a>. Il s&#8217;agit de génération
      d&#8217;insecte, en l&#8217;occurrence de Dermeste, soit dans ce cas une
      par an&nbsp!
    </div>
    <div class="footnote" id="_footnotedef_19">
      <a href="#_footnoteref_19">19</a>. stade du développement intermédiaire
      entre la larve et l&#8217;imago lors des mues de métamorphose de certains
      insectes.
    </div>
    <div class="footnote" id="_footnotedef_20">
      <a href="#_footnoteref_20">20</a>. matériau résistant et souple,
      constituant notamment les cuticules externes des insectes et les carapaces
      des crustacés
    </div>
    <div class="footnote" id="_footnotedef_21">
      <a href="#_footnoteref_21">21</a>. ensemble des tissus et des formations
      organiques (peau, poils, plumes, carapace, écailles, etc.) qui constituent
      le revêtement externe du corps de l&#8217;homme et des animaux.
    </div>
    <div class="footnote" id="_footnotedef_22">
      <a href="#_footnoteref_22">22</a>. enveloppe que le corps de
      l&#8217;animal a quittée lors de la mue ou de la métamorphose
    </div>
    <div class="footnote" id="_footnotedef_23">
      <a href="#_footnoteref_23">23</a>. relatif à la queue ou à ce qui
      constitue l&#8217;appendice terminal.
    </div>
    <div class="footnote" id="_footnotedef_24">
      <a href="#_footnoteref_24">24</a>. qui n&#8217;a pas de pieds, de pattes.
    </div>
    <div class="footnote" id="_footnotedef_25">
      <a href="#_footnoteref_25">25</a>. Le Méloé se vante un peu. Le record
      mondial de vitesse de croissance est détenu par la larve du Bombyx du
      Mûrier (plus connue sous le nom impropre de ver à soie) qui, en un mois
      grossi de 10000 fois son poids de naissance et 40 fois sa taille.
    </div>
    <div class="footnote" id="_footnotedef_26">
      <a href="#_footnoteref_26">26</a>. forme définitive de l&#8217;insecte
      adulte sexué, à la fin de ses métamorphoses.
    </div>
    <div class="footnote" id="_footnotedef_27">
      <a href="#_footnoteref_27">27</a>. science du développement des tissus
      (organes) à partir d&#8217;un embryon ayant des cellules non
      différenciées.
    </div>
    <div class="footnote" id="_footnotedef_28">
      <a href="#_footnoteref_28">28</a>. nom du liquide circulatoire des
      arthropodes dont le rôle est analogue au sang et au liquide interstitiel
      des vertébrés.
    </div>
    <div class="footnote" id="_footnotedef_29">
      <a href="#_footnoteref_29">29</a>. aile antérieure très dure qui recouvre
      et protège l&#8217;aile postérieure.
    </div>
    <div class="footnote" id="_footnotedef_30">
      <a href="#_footnoteref_30">30</a>. qui s&#8217;écartent légèrement
      l&#8217;un de l&#8217;autre à leur extrémité.
    </div>
    <div class="footnote" id="_footnotedef_31">
      <a href="#_footnoteref_31">31</a>. substance chimique produite par
      plusieurs insectes qui l&#8217;utilisent comme un poison pour protéger
      leurs œufs des prédateurs.
    </div>
    <div class="footnote" id="_footnotedef_32">
      <a href="#_footnoteref_32">32</a>. La toxicité de cet insecte lui a valu
      des surnoms tels que "enfle-bœuf", car l&#8217;ingestion accidentelle par
      des bœufs leur provoque des accès de fureur et un gonflement de la bouche
      pouvant entraîner la mort&nbsp!
    </div>
    <div class="footnote" id="_footnotedef_33">
      <a href="#_footnoteref_33">33</a>. rejet par la bouche et par les
      articulations des pattes d&#8217;un liquide coloré composé de cantharidine
    </div>
    <div class="footnote" id="_footnotedef_34">
      <a href="#_footnoteref_34">34</a>. Certains stades peuvent parfois faire
      défaut, en particulier le prénymphal.
    </div>
  </article>

  <p>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">
      Creative Commons “Attribution – Pas d’utilisation commerciale – Partage
      dans les mêmes conditions 4.0 International”
    </a>
  </p>
</Layout>

<style>
  h1,
  .details {
    text-align: center;
  }
  ul {
    list-style-type: circle;
  }
</style>
