---
import Icon from "./Icon.astro";
const url = `${Astro.site}ied/badidon.xml`;
import IconRSS from "./IconRSS.astro";
import IconApplePodcasts from "./IconApplePodcasts.astro";
import IconSpotify from "./IconSpotify.astro";
import IconYouTube from "./IconYouTube.astro";
import IconOvercast from "./IconOvercast.astro";
---

<p>Le podcast est disponible sur :</p>

<nav>
  <Icon link={url} text="RSS">
    <IconRSS />
  </Icon>
  <Icon
    link="https://podcasts.apple.com/us/podcast/badidon/id1729729633"
    text="Apple"
  >
    <IconApplePodcasts />
  </Icon>
  <Icon link="https://overcast.fm/itunes1729729633" text="Overcast">
    <IconOvercast />
  </Icon>
  <Icon
    link="https://open.spotify.com/show/6fFbaUa2rEpGjuOmMXwF7g"
    text="Spotify"
  >
    <IconSpotify />
  </Icon>
  <Icon
    link="https://www.youtube.com/playlist?list=PLlJyR-yn3BU0gLKBqM5GLcvpzud7Eso7Z"
    text="YouTube"
  >
    <IconYouTube />
  </Icon>
</nav>

<style>
  nav {
    display: flex;
    gap: var(--base);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
</style>
