---
import Layout from "../layouts/Layout.astro";
import { formatDate } from "@packages/utils/date";
import { getNotes } from "@packages/utils/storyblok";

const posts = (
  await getNotes({
    language: "en",
    page: 1,
    perPage: 5,
    token: import.meta.env.STORYBLOK_TOKEN,
  })
).map((story) => ({
  title: story.name,
  date: formatDate(new Date(story.first_published_at)),
  description: story.content.description,
  slug: story.slug,
}));
---

<Layout title="/ [ehret.me]">
  <article>
    <h1>Hello!</h1>

    <p>My name is Siegfried Ehret. I am a developer.</p>

    <section>
      <h2>Latest notes.</h2>
      <nav>
        {
          posts.map((post) => (
            <a href={post.slug}>
              <time>{post.date}</time>
              <p class="title">{post.title}</p>
              <p class="small">{post.description}</p>
            </a>
          ))
        }
      </nav>
      <a href="/notes">All notes.</a>
    </section>

    <section>
      <h2>Some projects.</h2>
      <p>🚧 This section is it progress. 🚧</p>
      <dl>
        <dt>
          <a href="https://git.sr.ht/~siegfriedehret/tagzytout"> tagzytout</a>
        </dt>
        <dd>A tool to automate tag creation from git commits.</dd>
      </dl>
    </section>
  </article>
</Layout>

<style>
  a {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--prime);
    padding: var(--base) calc(var(--base) * 2);
    text-decoration: none;
  }

  a::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    border: 0 solid var(--prime);
    will-change: border-width;
    transition: border-width 0.2s ease-in-out;
  }
  a:is(:active, :focus, :hover)::before {
    border-width: var(--base);
  }

  a > * {
    margin: 0;
  }

  time {
    font-size: 0.6rem;
    text-decoration: none;
  }

  .title {
    text-decoration: underline;
  }

  .small {
    font-size: 0.8rem;
    text-decoration: none;
  }
</style>
