---
import { getCollection, type CollectionEntry } from "astro:content";
import SuperTitle from "@packages/ui/SuperTitle.astro";
import Layout from "../layouts/Layout.astro";
import Responsive from "@packages/ui/Responsive.astro";
import { formatDate } from "@packages/utils/date";
import ClickOnThatNFLM from "../components/ClickOnThatNFLM.astro";

const posts = (await getCollection("posts"))
  .filter((p) => (p.data.tags ?? []).includes("nflm"))
  .sort((a, b) =>
    formatDate(b.data.date).localeCompare(formatDate(a.data.date)),
  );

type Posts = Record<string, CollectionEntry<"posts">[]>;
const grouped: Posts = posts.reduce((acc: Posts, el) => {
  const fDate = formatDate(el.data.date);
  if (!acc[fDate]) {
    acc[fDate] = [];
  }
  if (el) {
    acc[fDate].push(el);
  }
  return acc;
}, {});

const sortedGroups = Object.keys(grouped).sort().reverse();
---

<Layout title="/nflm [ehret.me]">
  <nav>
    <SuperTitle title="News From Last Month" />
    <Responsive>
      {sortedGroups.map((key) => <ClickOnThatNFLM items={grouped[key]} />)}
    </Responsive>
  </nav>
</Layout>
