---
import Layout from "../../../layouts/Layout.astro";
import Responsive from "@packages/ui/Responsive.astro";
---

<Layout
  title="/causeries [sieg.fr/ied]"
  description="Quelques détails de conférences"
>
  <Responsive>
    <h1>Causeries</h1>

    <p>🚧 Pages en cours de construction</p>

    <ul>
      <li>
        <a href="/ied/causeries/crystal"
          >Coder avec Crystal pour ne pas perdre la boule</a
        >
      </li>
    </ul>
  </Responsive>
</Layout>
